//CONTAINERS
$maxwidth:74rem;
$siteheaderheight:3.125rem;
$catnavheight:2.5rem;
//
//ASPECT RATIOS
$fourthree:75%;
$threefour:133.33333%;
$sixnine:56.25%;
//
$shH:50px;
$sidebarlogoheight:64px;
:root {
    --thAs: 56.25%;
    --asidewidth: 250px;
    --moblogowidth: 200px;
    --menbtnstrokewidth: 4px;
}