//WEIGHTS
$lightfontweight:100;
$normalfontweight:400;
$boldfontweight:700;
$blackfontweight:900;
//
//default headings
$headingfontfam: sans-serif;
$defh1:3rem;
$defh2:1.8rem;
$defh3:1.3rem;
$defh4:1rem;
$defh5:0.8rem;
$defh6:0.6rem;
$headinglineheight:1;
//
//
$basefontfam: sans-serif;
$basefontsize:1.125rem;
$smfontsize:0.75rem;
$regfontsize:1rem;
$hugefontsize:4rem;
$baselineheight:1.7;